name: CI

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Success Step - 21f2001357@ds.study.iitm.ac.in
        run: echo "Workflow ran successfully"
